@media screen and (max-width: 1921px){
    .progect {

        margin-bottom: 1.5%;
    }
}
@media screen and (max-width: 1900px){
    .inactive .services-item-block-title {
        font-size: 23px;
        padding: 24px 7px 16px 13px;
    }
    .spiky-list-info {
        max-width: 333px;
        height: 105px;
        padding: 18% 33px 33px 20px;
        
        
        }
        .with-ukraine-block-info {
           
            right: 41rem;
           
        }
}
@media screen and (max-width: 1880px){
    .with-ukraine-caricatures img{
        max-width: 96%;
    }
    .festival-item2 {
        width: 353px;
    }
    
    .festival-item1 {
        max-width: 324px;
    }
    .festival-block2-item2 p,.festival-block3-item3 p {
   
        font-size: 13px;

    }
    .block-festival-block3-item1 {
        transform: rotate(-3deg);
        position: absolute;
        top: 21%;
        left: 108%;
    }
}
@media screen and (max-width: 1825px){
    .with-ukraine-block-info {
        right: 40rem;
        top: 24rem;
    }
    .with-ukraine-texture.f5.f-1{
        display: block;
    }
}
@media screen and (max-width: 1825px){
    .inactive .services-item-block-title {
        color: #000000;
        padding: 24px 8px 16px 12px;
    }
    .with-ukraine-block-info {
        right: 39rem;
    }
}
@media screen and (max-width: 1825px){
    .inactive .services-item-block-title {
        font-size: 20px;
    }
    .services-item {

        margin-left: 14px;
    
    }
}
@media screen and (max-width: 1800px){
    .with-ukraine-caricatures img{
        max-width: 92%;
    }
    .block-festival-block2-item1{
        position: absolute;
        top: 52rem;
        transform: rotate(2deg);
        width: 391px;
        left: 49rem;
    }
}
@media screen and (max-width: 1750px){
    .with-ukraine-caricatures img{
        max-width: 90%;
    }
    .progect-list {
        bottom: 8%;
    }
    .pogect-image-panda {
       
        margin: 0 11.55% 0 11.55%;
    }
    .progect-block-title {
        bottom: 415px;
    }
    .progect {

        margin-top: -17rem;
    }
    .progect-image-grass1 {

        bottom: 10%;

    }
    .spiky-list-info {
        max-width: 333px;
        height: 105px;
        padding: 17% 33px 33px 20px;
        
        
        }

        .with-ukraine-block-info {
            right: 37rem;
        }
}
@media screen and (max-width: 1700px){
    .festival-item1-text p {

        line-height: 110%;

    }
    .festival-item1-image {
        padding: 15px 15px 10px 15px;
    }
    .festival-item1-text p {
        padding: 0px 15px 10px 15px;
    }
    .block-festival-block2-item1 {
        position: absolute;
        top: 49rem;
    transform: rotate(2deg);
    width: 391px;
    left: 46rem;
    }
    .with-ukraine-caricatures img {
        max-width: 86%;
    }
    .spiky-list-info {
        max-width: 333px;
        height: 105px;
        padding: 15% 33px 33px 20px;
        
        
        }
    .progect {

        margin-bottom: 1.5%;
    }
    .with-ukraine-block-info {
        right: 36rem;
    }
}
@media screen and (max-width: 1650px){
    .with-ukraine-caricatures img {
        max-width: 82%;
    }
    .with-ukraine-block-info {
        right: 32rem;
    }

}
@media screen and (max-width: 1600px){
    .block-festival-block2-item1 {
        
            top: 46rem;
            transform: rotate(2deg);
            width: 391px;
            left: 42rem;
        }
    
    .with-ukraine-caricatures img {
        max-width: 76%;
    }
    .progect {

        margin-bottom: 2%;
    }
    .festival-item1 {
        max-width: 290px;
    }
    .festival-item2 {
        width: 320px;
    }
    .with-ukraine-block-info {
        right: 33rem;
        top: 23rem;
    }
    .festival-item2 {
        
        top: 49%;
        
    }
    .block-festival-block3-item1 {
        transform: rotate(-3deg);
        position: absolute;
        top: 19%;
        left: 104%;
    }

}
@media screen and (max-width: 1550px){
    .block-festival-block2-item1 {
        top: 45rem;
        transform: rotate(2deg);
        width: 391px;
        left: 40rem;
    }
    .with-ukraine-block-info {
        right: 31rem;
        top: 24rem;
    }
    .inactive .services-item-block-title {
        font-size: 19px;
        
    }
    .services-item-block-description {

        font-size: 15px;
        line-height: 20px;

    }
    .services-item {

        margin-left: 10px;
    
    }
}

@media screen and (max-width: 1640px){
    .services-item-block-description {
        
        line-height: 21px;
        
    }
    .process {
        
        height: 150rem;
    }
    .process-block-list {
        
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 94px 8.35% 0 8.35%;
    }
    .progect-list {
        bottom: 6%;
    }
    .progect-block-title {
        bottom: 406px;
    }
    .progect-image-grass {

        top: 67%;
        
    }
    .pogect-image-panda {
        margin: 0 9.55% 0 9.55%;
    }
    
}
@media screen and (max-width: 1620px){
    .inactive .services-item-block-title {
        font-size: 19px;
    }
    .progect-item-title p {
        
        font-size: 30px;
        padding: 30px 16px 8px 29px;
    }
    .progect-item-text p {
        
        font-size: 17px;
        padding: 0px 28px 32px 29px;
    }
    .progect-block-title {
        bottom: 372px;
    }
    .with-ukraine-caricatures img {
        max-width: 74%;
    }
}
@media screen and (max-width: 1500px){
    .with-ukraine-block-info {
        right: 29rem;
        top: 24rem;
    }
    .with-ukraine-texture.f5.f-2{
        display: block;
    }
    
    .progect {

        margin-bottom: 2.5%;
    }
    .with-ukraine-caricatures img {
        max-width: 70%;
    }
}
@media screen and (max-width: 1490px){
    .pogect-image-panda {
        margin: 0 8.55% 0 8.55%;
    }
    
    .inactive .services-item-block-title {
        font-size: 18px;
        padding: 24px 7px 16px 4px;
    }
    .progect-item-text p {
        
        line-height: 120%;
    }
    .progect-block-title {
        bottom: 348px;
    }
    /* .progect-block-title {
        bottom: 357px;
    } */
    .progect-list {
        bottom: 4%;
    }
    .progect-image-grass {
        top: 70%;
    }
    .services-item-block-description {
        
        line-height: 21px;
        padding: 0px 10px 16px 10px;
        
    }
    .services-item-block-title {
       
        padding: 10px 10px 6px 10px;
    }
}
@media screen and (max-width: 1450px){
    .with-ukraine-block-info {
        right: 28rem;
        top: 23rem;
    }
    .festival-item1-image {
        padding: 18.32px 24.63px 5px 19.34px;
    }
    .with-ukraine-caricatures img {
        max-width: 66%;
    }
    .festival-item1-text p {

        padding: 0 18.38px 12.32px 19.34px;

}
@media screen and (max-width: 1400px){
    .block-festival-block3-item1 {
        transform: rotate(-3deg);
        position: absolute;
        top: 19%;
        left: 82%;
    }
    .festival-block2-item2 {
        background: #FFFFFF;
        box-shadow: inset 0px 1.82346px 7.29386px rgb(20 71 162 / 25%);
        border-radius: 10px;
        max-width: 362px;
        display: flex;
    }
    .block-festival-block2-item1 {
        top: 42rem;
        left: 36rem;
        z-index: 2;
    }
    .with-ukraine-block-info {
        right: 27rem;
        top: 23rem;
    }
    .festival-item2 {
        width: 280px;
    }
    .festival-item1 {
        width: 250px;
    }
    .festival-item1-text p {

        font-size: 12px;

        padding: 0 18.38px 11.32px 18.34px;

    }
    .festival-item1-image {
        padding: 18.32px 24.63px 5px 19.34px;
    }
    .play {
        position: absolute;
        top: calc(50% - 50px);
        left: calc(50% - 40px);
    }
    .spiky-arrows img{
        width: 28px;
        padding-right: 0;
        /* margin: 0 8px; */
    }   
    .spiky-arrows{
        padding: 0 8px;
    }
    
    .spiky-block-list-info {
        
        flex-wrap: wrap;
        justify-content: center;
    }
    .spiky-list-video {
        height: 345px;
        max-width: 44%;
        padding-top: 30px;
        padding-right: 0px;
    }
    .spiky-list-info{
        order: 3;
        max-width: 100%;
    }
    .spiky-list-info p {
       
        line-height: 150%;
        max-width: 100%;
      
    }
    .spiky-list-info {
        
        padding: 30px 33px 33px 20px;
    }
    
    .progect {

        margin-bottom: 3%;
    }
    .progect-list {
        bottom: 3%;
    }
    .progect-item-title p {
        font-size: 28px;
        padding: 25px 16px 5px 22px;
    }
    .progect-item-text p {
        font-size: 16px;
        padding: 0px 22px 32px 22px;
    }
    .progect-block-title {
        bottom: 295px;
    }
    .services-item-block-description {
       
        font-size: 14px;
        line-height: 20px;
        /* padding: 0px 16px 16px 16px; */
        color: #FFFFFF;
    }
    .services-item-block-title {
        
        font-size: 22px;
        line-height: 26px;
        color: #FFFFFF;
        /* padding: 16px 16px 6px 16px; */
    }
    .inactive .services-item-block-title {
        color: #000000;
        padding: 16px 4px 16px 20px;
        font-size: 17px;
        line-height: 26px;
    }
    .festival-block2-item2-svg {
        max-width: 34px;
        margin-right: 5px;
        margin-top: 7px;
    }
    .festival-block2-item2 {
        max-width: 295px;
    }
    .festival-block2-item2 p {
        font-size: 10px;
        /* padding-bottom: 10px; */
    }
    .festival-block2-item2 svg {
        margin: 4px 8px 0px 14px;
    }
}
@media screen and (max-width: 1380px){
    .with-ukraine-caricatures img {
        max-width: 61%;
    }
}
@media screen and (max-width: 1330px){
    .item4{
        margin-top: 104px;
    }
    .progect-list {
        bottom: 2%;
    }
}
@media screen and (max-width: 1320px){
    .services-item-block-description {
        line-height: 17px;
    }
    .progect-image-stone {

        bottom: -9%;

    }
    .spiky-list-info {
        padding: 0px 33px 33px 20px;
    }
}
@media screen and (max-width: 1300px){
    .popup-content iframe {
        width: 100%;
        height: 34rem;
    }
    .block-festival-block2-item1 {
        top: 40rem;
        left: 33rem;
        z-index: 2;
    }
    .festival-block2-item2 {
   
        max-width: 318px;
        
    }
    .festival-block2-item2 p {
        font-size: 11px;
        /* padding-bottom: 10px; */
    }
    .festival-block2-item2 svg {
        margin: 6px 8px 0px 14px;
    }
    .with-ukraine-block-info {
        right: 24rem;
        top: 23rem;
    }
    .festival-item1-text p {
        font-size: 10px;
        padding: 0 10px 7px 10px;
    }
    .with-ukraine-caricatures img {
        max-width: 57%;
    }
    .festival-item1 {
        width: 230px;
    }
    .festival-item2 {
        width: 260px;
    }
    .festival-item1-image {
        padding: 10px 10px 5px 10px;
    }
}
@media screen and (max-width: 1250px){
    .with-ukraine-caricatures img {
        max-width: 50%;
    }
    .festival-block2-item2-text {
        padding: 11px 2px 7px 0;
        /* min-height: 343px; */
        max-width: 343px;
    }
    .festival-block2-item2 p {
        font-size: 10px;
        padding-bottom: 6px;
    }
    .festival-block2-item2 svg {
        margin: 2px 8px 0px 14px;
    }
    .festival-block2-item2 {
        max-width: 291px;
    }
    .block-festival-block2-item1 {
        top: 40rem;
    left: 32rem;
    z-index: 2;
    }
}

@media screen and (max-width: 1200px){
    .footer-block {

        top: 79px;

    }
    .footer-links p{

        margin-top: 10px;
        /* padding-top: 28px; */
      
          
      }
      .footer-social{
          margin-bottom: 10px;
      }
    .footer-bottom{
        position: absolute;
        bottom: 30px;
        width: 100%;
        text-align: center;
    }
    .festival-block2-item2  .item2-svg3{
        margin-top: 30px;
    }
    .festival-block2-item2  .item2-svg4{
        margin-top: 30px;
    }
    .festival-block2-item2  .item2-svg5{
        margin-top: 30px;
    }
    .with-ukraine-texture.f5{
        display: block;
    }
    .with-ukraine-block-info {
        right: 47%;
        top: 47%;
    }
    .festival-block2-item2 p {
        font-size: 13px;
line-height: 150%;
    }
    .festival-item1-text p {
        font-size: 13px;
line-height: 150%;


padding: 0 23.38px 17.32px 24.34px;
    }
    .festival-item1-image {
        padding: 18.32px 24.63px 5px 19.34px;
    }
    .festival-block2-item2-svg {
        max-width: 33px;
        margin-right: 8px;
        margin-top: 7px;
    }
    .festival-block2-item2 svg {
        margin: 9px 8px 0px 14px;
    }
    .festival-block2-item2-text {
        padding: 16px 2px 7px 0;
        /* min-height: 343px; */
        max-width: 343px;
    }
    .festival-block2-item2 p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        padding-bottom: 9px;
        color: #000000;
    }
    .festival-item2 {
        width: 340px;
    }
    .block-festival-block2-item1 {
        top: 62%;
    left: 30%;
    z-index: 2;
    }
    .with-ukraine-caricatures {
        position: absolute;
        top: 30%;
        left: 6rem;
        margin: 0 15%;
    }
    .with-ukraine-map {
        
        margin: 0 8.35%;
    }
    .festival-item1 {
        width: 300px;
    }
    .with-ukraine-caricatures img {
        max-width: 100%;
    }
    .spiky-block-list-info {
       
        min-height: 410px;
       
    }
    .spiky-list-info {
        /* height: 80px; */
        max-height: 80px;
    min-height: 80px;
    }
    .spiky-block-list {
        /* max-width: 100%; */
        position: absolute;
        top: 60%;
        margin: 0 5.35%;
        /* background: #fff; */
        width: calc(100% - 10.7%);
    }
    .spiky-image-center img {
        max-width: 100%;
        padding: 0 1.1% 0 21.95%;
    }
    .progect {

        margin-bottom: 28%;
    }
    .progect-image-top.botton{
        display: block;
        z-index: 3;
        bottom: -28%;
    }
    .pogect-image-panda {
        margin: 0 5.35% 0 5.35%;
    }
    .progect-list {
        max-width: 1200px;
        padding: 0 8.35%;
        flex-wrap: wrap;
        bottom: -26%;
        
    }
    .progect-image-stone {
        bottom: -35%;
    }
    .progect-block-title {
        bottom: 240px;
    }
    .progect-image-grass {
        top: 76%;
    }
    .progect-item-title p {
        font-size: 32px;
line-height: 150%;
     
    }
    .progect-item-text p {
        font-size: 16px;
line-height: 150%;
       
    }
    .progect-list-item {
       
        margin-bottom: 20px;
    }
    .process-block-list {
        
        
        margin: 94px 5.35% 0 5.35%;
    }
    .block-ukraine{
        
        margin-right: 5.35%;
    }
    .site-logo {

        margin: 48px 0 0 5.35%;
    }
    .contact-us {

        margin: 55px 5.35% 0 0;
    }
    .services-list{

        margin: 0 5.35%;
        /* display: flex; */
    flex-wrap: wrap;
    max-width: 708px;
    margin: 0 auto;
    }
    .services-item {
        margin-bottom: 20px;
        margin-left: 0;
        max-width: 708px;
        height: 643px;
        margin-right: 0;
    }
    .services-item.inactive{
        width: 100%;
        height: 60px;
        min-height: 60px;
    }
    .services-item-image{
        max-width: 708px;
        height: 479px;
    }
    .services-item-block{
        height: 164px;
    }
    .inactive .services-item-image{
        display: none;
    }
    .inactive .services-item-block{
        height: 60px;
    }
    .inactive .services-item-block .bottom-line{
        right: 0;
        width: 9px;
        height: 100%;
    }
    .services-item-block-title {
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        padding: 16px 16px 6px 16px;
    }
    .services-item-block-description {
        font-size: 15px;
        line-height: 22px;
        padding: 0px 23px 25px 16px;
        color: #FFFFFF;
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 1150px){
    
       
    .progect {

        margin-bottom: 29%;
    }
   
}
@media screen and (max-width: 1100px){
    .with-ukraine-texture.f5.f-10{
        display: block;
    }
    
    .creations {
        position: relative;
        padding-top: 100px;
        max-width: 1920px;
    }
    .progect {

        margin-bottom: 31.5%;
    }
}
@media screen and (max-width: 1140px){
    .progect-block-title {
        bottom: 229px;
    }
    .spiky-list-item p {

        font-size: 34px;
        line-height: 44px;
        color: #FFFFFF;
    }
    
}
@media screen and (max-width: 1080px){

    
    .progect {

        margin-bottom: 32%;
    }
    
}

@media screen and (max-width: 1040px){
    .block-festival-block2-item1 {
        top: 59%;
    left: 30%;
    z-index: 2;
    }
    .with-ukraine-block-info {
        right: 47%;
        top: 44%;
    }
    .with-ukraine-caricatures {
        position: absolute;
        top: 28%;
        left: 6rem;
        margin: 0 15%;
    }
  
}
@media screen and (max-width: 1020px){
    
    
    
}
@media screen and (max-width: 1000px){
    .popup-content iframe {
        width: 100%;
        height: 28rem;
    }
    .footer-bottom {
        
        bottom: -90%;
    padding-bottom: 30px;
       
    }
    .footer {
       
        margin-top: -700px;
    }
    .footer-block {
        flex-wrap: wrap;
        top: 40px;
        
    }
    .footer-block-form {
        margin-bottom: 152px;
        margin-right: 0px;
    }
    .footer-block-contacts {
        
        text-align: center;
    }
    .block-festival-block2-item1 {
        top: 56%;
        left: 30%;
        z-index: 2;
    }
    .with-ukraine-map {
        margin: 0 20%;
    }
    .with-ukraine-caricatures {
        position: absolute;
        top: 24%;
        left: 6rem;
        margin: 0 15%;
    }
    .with-ukraine-block-info {
        right: 47%;
        top: 39%;
    }
    .spiky-block-list {

        margin: 0 30px;

        width: calc(100% - 60px);
    }
    .spiky-list-video {
        height: 300px;

    }
    .spiky-list-item p {

        font-size: 32px;
        line-height: 44px;
        color: #FFFFFF;
    }
    .progect {

        margin-bottom: 34.5%;
    }
    .progect-list-item {
       
        margin-right: 0px;
        
    }
    .progect-block-title {
        bottom: 219px;
    }
    .progect-list {
        max-width: 1200px;
        padding: 0 5.35%;
        flex-wrap: wrap;
        bottom: -26%;
    }
    .process {
        
        height: 172rem;
        margin-top: 50px;
    }
    .process-block-button {
        
        margin-top: -50px;
    }
    .process-title {
        margin-top: 83px;
        
    }
    .process-block-list {
        
        
        flex-wrap: wrap;
        margin: 47px 59px 0 5px;
    }
    .item1{
        margin-top: 0px;
        margin-left: 61px;
    }
    .item1 .process-item-image{
        margin-bottom: 13px;
    }
    .item2{
        margin-top: 325px;
    }
    .item2 .process-item-image{
        margin-bottom: 20px;
    }
    .item3 {
        margin-top: -140px;
        margin-left: 32px;
        
    }
    .item3 .process-item-image{
        margin-bottom: 17px;
    }
    .item4 {
        margin-top: 160px;
        
    }
    .item4 .process-item-image{
        margin-bottom: 21px;
    }
    .item5 {
        margin-top: -160px;
        
    }
    .item5 .process-item-image{
        margin-bottom: 27px;
    }


    .block-ukraine{
        
        margin-right: 30px;
    }
    .site-logo {

        margin: 48px 0 0 30px;
    }
    .contact-us {

        margin: 55px 30px 0 0;
    }
    .services-title, .services-text, .services-list{
        padding: 0 30px;
    }
    .services-list{
        padding-bottom: 10px;
    }
    
}
@media screen and (max-width: 970px){
    
    .progect {

        margin-bottom: 36%;
    }
    .footer {
        margin-top: -600px;
    }
}
@media screen and (max-width: 930px){
    .footer-bottom {
        bottom: -100%;
        padding-bottom: 30px;
    }
    .progect {

        margin-bottom: 37%;
    }
}
@media screen and (max-width: 900px){
    .with-ukraine-texture900{
        display: block;
    }
    .spiky-list-item p {
        padding-left: 15px;
        font-size: 28px;
        line-height: 44px;
        color: #FFFFFF;
    }
    .spiky-image-center img {
        max-width: 100%;
        padding: 0 0 0 18.95%;
    }
    .progect{
        height: 60rem;
    }
    .progect-image-top {
        
        bottom: 80px;
    }
    .progect-image-top.botton {
        
        bottom: -35%;
    }
    .progect-image-stone {
        bottom: -40%;
    }
    .pogect-image-wood {

        margin: 0 5% 0 5%;
       
    }
    .progect-block-title {
        bottom: 261px;
    }
    .progect-list {
        max-width: 1200px;
        padding: 0 3.35%;
        flex-wrap: wrap;
        bottom: -30%;
    }
    .progect-image-grass {
        top: 80%;
    }
    .progect-image-top.botton2{
        display: block;
        bottom: -20%;
        z-index: 2;
    }
    /* .progect-list {
        
        bottom: -30%;
    } */
    .progect-list-item {
        max-width: 344px;
        
    }
    .site-logo {
        width: 175px;
        height: 48px;
        margin-top: 60px;
    }
    .site-logo-title{
        font-size: 24px;
        line-height: 29px;
    }
    .site-logo-text{
        font-size: 16px;
        line-height: 19.5px;
    }
    .block-ukraine {
        width: 280px;
        height: 57px;
        margin-top: 55px;
       
    }
    .ukraine-svg {
        width: 45px;
        height: 36px;
        margin: 11px 0 10px 18px;
    }
    .ukraine-svg svg{
        width: 45px;
        height: 36px;

    }
    .block-ukraine-right {
        width: 193px;
        height: 37px;
        margin: 10px 0 10px 13px;
    }
    .ukraine-right-title {
        margin-bottom: 0px;
        font-size: 14px;
        line-height: 17px;
    }
    .services-title {
        
        margin-top: 50px;
        
    }
    .progect-image-grass1 {
        bottom: 1%;
        left: 34%;
    }
    
}
@media screen and (max-width: 880px){
    .footer-bottom {
        bottom: -115%;
        padding-bottom: 30px;
    }
    .with-ukraine-caricatures {
        position: absolute;
        top: 21%;
        left: 6rem;
        margin: 0 15%;
    }
    .block-festival-block2-item1 {
        top: 55%;
    left: 22%;
    z-index: 2;
        
    }
    .with-ukraine-block-info {
        right: 52%;
    top: 37%;
    }
    
    .progect {

        margin-bottom: 39.5%;
    }
   
}
@media screen and (max-width: 840px){
    .footer-bottom {
        bottom: -120%;
        padding-bottom: 30px;
    }
    .progect {
        margin-bottom: 43%;
    }
}
@media screen and (max-width: 800px){
    .footer-bottom {
        bottom: -130%;
        padding-bottom: 30px;
    }
   
}

@media screen and (max-width: 790px){
    .with-ukraine-block-info {
        right: 52%;
        top: 36%;
    }
    .block-festival-block2-item1 {
        top: 53%;
        left: 22%;
        z-index: 2;
    }
}
@media screen and (max-width: 770px){
    .popup-content iframe {
        width: 100%;
        height: 21rem;
    }
    .footer-bottom {
        bottom: -35%;
        padding-bottom: 30px;
    }
    .footer-block-form {
        margin-bottom: 182px;
      
    }
    
    .footer-block-title {
        
        margin-top: 116px;
    }
    .footer-block {
        
        top: 270px;
    }
    .footer-fon{
        display: none;
    }
    .footer-fon-tablet{
        display: block;
    }
    .footer-block-form {
        max-width: 100%;
    }
    .footer-block-contacts {
        max-width: 100%;
    }
    .footer-block-contacts-title{
        max-width: 100%;
    }
    .with-ukraine-block-title {
        position: absolute;
        top: 337px;
        width: 100%;
    }
    .with-ukraine-map {
        position: absolute;
        top: 502px;
    }
    
    .with-ukraine-texture.f5,.with-ukraine-texture900
    , .with-ukraine-texture770{
        display: none;
    }
    .with-ukraine-texture.tablet{
        display: block;
    }
    .with-ukraine-texture.tablet-fon{
        display: block;
    }
    .with-ukraine-texture.f5.f-2{
        display: none;
    }
    .with-ukraine-texture.f5.f-10{
        display: none;
    }
    .with-ukraine-texture.f5.f-1{
        display: none;
    }
    .festival-item1{
        transform: rotate(4deg);
        
    }
    .festival-item2 {
        
        transform: rotate(-2deg);
        width: 290px;
       
    }
    .block-festival-block3-item1 {
        transform: rotate(-3deg);
        position: absolute;
        top: 52%;
        left: 72%;
    }
    .festival-item1-title {
        text-align: center;
        transform: rotate(4deg);
    }
    .festival-block3-item3 {

        width: 290px;
    }
    .footer {
        position: relative;
        max-width: 1920px;
        /* top: -278px; */
        /* top: -378px; */
        margin-top: -610px;
    }
    .with-ukraine-caricatures {
        top: 29%;
        left: 0;
        margin: 0 30px;
    }
    .festival-block2-item2-title {
      
        text-align: center;
        width: 290px;
    }
    .festival-block3-item3-title {
        text-align: center;
  
        margin-bottom: 9px;
    }
    .with-ukraine-texture{
        display: none;
    }
    .with-ukraine-block-info {
        right: 49%;
        top: 49%;
    }
    .festival-item1-image {
        padding: 10.64px 14.79px 5px 10.67px;
    }
    .festival-item1-text p {
        font-size: 12px;
        padding: 0 11.37px 20.69px 11.37px;
    }
    .festival-item2 {
        top: 48%;
        transform: rotate(-5deg);
    }
    .block-festival-block2-item1 {
        top: 66%;
    left: 14%;
    z-index: 2;
    }
    .with-ukraine-map .map{
        display: none;
    }
    .with-ukraine-map .map-tablet{
        display: block;
    }
    .creations-list{
        margin: 0 30px;
    }
    .creations-list-item{
        position: relative;
        max-width: 49%;
        margin-bottom: 15px;

    }
    .creations-list .creations-list-item img{
        max-width: 100%;
        padding: 0;
        height: 100%;
    }
    .item-3{
        max-width: 100%;
    }
    .creations-list .creations-list-item.item-3 img{
        width: 708px;
    }
    .creations-list .creations-list-item.item-6{
        max-width: 100%;
    }
    
    .creations-list .creations-list-item.item-6 img{
        width: 708px;
    }
    .creations-list .creations-list-item.item-9{
        max-width: 100%;
    }
    
    .creations-list .creations-list-item.item-9 img{
        width: 708px;
    }
    .creations-list-item.item-7 {

        max-width: 49%;
    }
    .creations-list-item.item-5{
        max-width: 49%;
       padding: 0;
    }
   


    .creations {
        position: relative;
        padding-top: 0px;
        max-width: 1920px;
    }
    .spiky-list-item p {
        width: 100%;
        padding-top: 16px;
        padding-bottom: 15px;
        padding-left: 21px;
        font-size: 24px;
line-height: 29px;
    }
    .spiky-list-video {
        height: 251px;
    }
    .spiky-list-video:nth-child(4) {
        padding-right: 0;
    }
    .spiky-arrows {
        
        /* padding-right: 21px; */
        height: 251px;
    }    
     
    .spiky-title {
       
        margin-top: 83px;
    }
    .spiky-image-top{
        display: none;
    }
    .spiky-image-top.tablet{
        display: block;
    }
    .kid-desc{
        display: none;
    }

    .kid-tablet{
        display: block;
    }
    .progect {
        margin-bottom: 57%;
    }
    .progect-item-title p {
        font-size: 32px;
        line-height: 150%;
        padding: 21px 16px 9px 31px;
    }
    .progect-item-text p {
        font-size: 16px;
        line-height: 150%;
        padding: 0px 24px 9px 32px;
    }
    
    .process {
        
     
        margin-top: 100px;
    }
    .process-block-button {
        
        margin-top: -100px;
    }
    .section-top-video .images-tablet{
        display: block;
    }
    .section-top-video .images-desc{
        display: none;
    }
    .section-top-video{
        position: relative;
    }
    .top-video-svg{
        display: block;
        position: absolute;
        top: calc(50% + 20px);
    left: calc(50% - 40px);
    cursor: pointer;

    }
    .progect-image-stone{
        display: none;
    }

    .progect-image-stone.tablet{
        display: block;
        bottom: -51%;
    }
    .progect-list {
        max-width: 1200px;
        padding: 0 3.35%;
        flex-wrap: wrap;
        bottom: -36%;
    }
    .progect-image-grass {
        top: 91%;
    }
    .progect-block-title {
        bottom: 204px;
    }
    .pogect-image-wood {
        margin: 0;
    }
    .progect-image-top.botton {
        bottom: -42%;
    }
    .progect-list-item {
        max-width: 48.5%;
    }
    .progect {
        margin-top: -21rem;
    }
    .progect-image-grass1 {
        display: none;
    }
    
}
@media screen and (max-width: 740px){
    .footer-bottom {
        bottom: -45%;
        padding-bottom: 30px;
    }
    .progect {
        margin-bottom: 60%;
    }
    .progect-list {
        justify-content: center;
        bottom: -37%;
    }
    .progect-image-stone.tablet {
        display: block;
        bottom: -51%;
    }
    .progect-list-item {
        margin-left: 20px;
        max-width:45%;
    }
    .process-block-list {
        display: flex;
        max-width: 500px;
        justify-content: center;
        margin: 94px auto 0 auto;
    }
    .process-block-list .process-list-item {
        width: 290px;
        max-width: 290px;
        margin: 0;
    }
    .process-block-list .item2 {
        margin-top: 100px;
    }
    .process-block-list .item3 {
        margin-top: 60px;
    }
    .process-block-list .item4 {
        margin-top: 60px;
    }  
    .process-block-list .item5 {
        margin-top: 40px;
    }
    .process {
        height: 243rem;
    }
    .process-list-item  .process-item-text {
        margin-left: 0;
        max-width: 290px;
    }
    .process-list-item .process-item-title {
        margin-left: 0;
        max-width: 290px;
    }
    .progect-image-grass {
        top: 90%;
    }
    .pogect-image-panda {
        margin: 0;
    }
    
}
@media screen and (max-width: 720px){
    .with-ukraine-caricatures {
        top: 31%;
        left: 0;
        margin: 0 30px;
    }
    .with-ukraine-block-info {
        right: 50%;
        top: 50%;
    }
}
@media screen and (max-width: 700px){
    .footer-bottom {
        bottom: -53%;
        padding-bottom: 30px;
    }
    .footer {
        position: relative;
        max-width: 1920px;
        /* top: -278px; */
        /* top: -378px; */
        margin-top: -300px;
    }
    .progect {
        margin-bottom: 87%;
    }
    .progect-list-item {
        margin-bottom: 15px;
    }
    .progect-item-title p {
        font-size: 32px;
        line-height: 150%;
        padding: 21px 16px 9px 31px;
    }
    .progect-item-text p {
        
        padding: 0px 24px 22px 32px;
    }
    .progect-list-item {
        margin-left: 0;
        max-width: 100%;
    }
    .progect-image-stone.tablet {
        display: block;
        bottom: -68%;
    }
    .progect-image-top.botton3{
        width: 100%;
        position: absolute;
        display: block;
        bottom: -15%;

    }
    .progect-image-top.botton2 {
        display: block;
        bottom: -39%;
        z-index: 2;
    }
    .progect-list {
        justify-content: center;
        bottom: -55%;
    }
    .progect-image-top.botton {
        bottom: -60%;
    }
    .block-ukraine {
        margin-right: 0px;
        order: 3;
        margin-top: 17px;
        width: 290px;
        height: 74px;
        margin-left: auto;
        margin-right: auto;
    }
    .ukraine-svg {
        width: 58px;
        height: 46px;
        margin: 13px 0 15px 10px;
    }
    .ukraine-svg svg{
        width: 58px;
        height: 46px;

    }
    .block-ukraine-right {
        width: 193px;
        height: 37px;
        margin: 14px 0 16px 17px;
    }
    .ukraine-right-title {
        margin-bottom: 0px;
        font-size: 16px;
        line-height: 20px;
    }
    header {
        
        flex-wrap: wrap;
    }
    .site-logo {
        margin-right: 50px;
        order: 1;
    }
    .contact-us {
        width: 142px;
        order: 2;
        
    }
}
@media screen and (max-width: 690px){
.block-festival-block2-item1 {
    top: 67%;
    left: 9%;
    z-index: 2;
}
}
@media screen and (max-width: 670px){
    .footer-bottom {
        bottom: -62%;
        padding-bottom: 30px;
    }
    .creations {
   
        padding-top: 475px;
  
    }
    .progect {
        margin-bottom: 91%;
    }
    .spiky-list-video {
        height: 100%;
        max-width: calc(100% - 40px);
    }
    .spiky-list-video:nth-child(4) {
        padding-top: 0;
    }
    .spiky-list-info {
 
        padding-top: 12px;
    }
    .spiky-list-info p {

        font-size: 14px;
        line-height: 150%;
        /* max-width: 280px; */
        min-height: 105px;
        color: #000000;
    }
    .spiky-list-item p {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        padding: 18px 1px 18px 8px;
        color: #FFFFFF;
        max-height:58px
    }
    .spiky-list-item {

        padding-top: 18px;
    }
    .spiky-arrows {
        transform: rotate(90deg);
        height: 51px;
    }
}
@media screen and (max-width: 640px){
    .footer-bottom {
        bottom: -70%;
        padding-bottom: 30px;
    }
    .festival-block2-item2  .item2-svg3{
        margin-top: 20px;
    }
    .festival-block2-item2  .item2-svg4{
        margin-top: 25px;
    }
    .festival-block2-item2  .item2-svg5{
        margin-top: 20px;
    }
    .with-ukraine-texture640{
        display: block;
        
    }
    .footer {
        position: relative;
        max-width: 1920px;
        /* top: -278px; */
        /* top: -378px; */
        margin-top: -333px;
    }
    .footer-title p {

        font-size: 40px;

    }
    .with-ukraine-title p {
        font-size: 40px;
line-height: 50px;
    }
    .with-ukraine-text {
        font-size: 16px;
line-height: 22px;
max-width: 289px;
    }
    .with-ukraine-map {
        position: absolute;
        top: 366px;
    }
    .festival-item1-title {
        font-size: 24px;
line-height: 30px;
    }
    .festival-block2-item2-title {
        font-size: 24px;
        line-height: 30px;
    }
    .festival-block3-item3-title{
        font-size: 24px;
        line-height: 30px;
    }
    .with-ukraine-block-info {
        right: 52%;
        top: 47%;
    }
    .with-ukraine-caricatures {
        top: 28%;
        left: 0;
        margin: 0 30px;
    }
    .festival-item1-text p {
        font-size: 12px;
line-height: 150%;
        padding: 0 16.83px 20.34px 10.69px;
    }
    .festival-item1-image {
        padding: 10.34px 10.34px 4px 14.95px;
    }
    .festival-block2-item2 p {
        font-size: 12px;
line-height: 150%;
    }
    .festival-block3-item3 p {
        font-size: 12px;
line-height: 150%;
    }
    .festival-item1-image img {
        max-width: 260px;
    }
    .block-festival-block2-item1 {
    
        width: 290px;
     
    }
    .with-ukraine-block-title {
       
        top: 250px;
        
    }
    .progect {
        margin-bottom: 96%;
    }
    .festival-item2 {
        top: 96%;
        left: 53%;
    }
    .block-festival-item1{
        margin: 0 56%;
    }
    .festival-item1-title {
        text-align: center;

        width: 290px;
    }
    .block-festival-block2-item1 {
        top: 72%;
    left: 28%;
        z-index: 2;
        transform: rotate(2deg);
    }
    .block-festival-block3-item1 {
        transform: rotate(-3deg);
        position: absolute;
        top: 103%;
        left: 0;
    }
}
@media screen and (max-width: 600px){
    .popup-content iframe {
        width: 100%;
        height: 16rem;
    }
    .footer-text {
        font-size: 16px;
line-height: 22px;
max-width: 289px;

    }
    .footer-block-form {
        margin-bottom: 140px;
    }
    .footer-block-contacts-title p {
        font-size: 20px;
line-height: 130%;
    }
    .footer-block-contacts-title {
        min-height: 20px;
        max-height: 120px;
        margin-bottom: 16px;
    }
    .footer-block-contacts-button p {
        font-size: 20px;
line-height: 24px;
padding: 16px 10%;
    }
    .footer-social svg{
        width: 29px;
        height: 29px;
    }
    .footer-social {
        margin-bottom: 0;
    }
    .footer-links p {
        margin-top: 9px;
        
    }
    .footer-links a {
        font-size: 16px;
        line-height: 150%;
    }
    .footer-block-contacts-address p {
       
        font-size: 15px;
       
    }
    .footer-bottom {
        bottom: -40%;
        padding-bottom: 30px;
    }
    .footer-block-form button{
        font-size: 20px;
line-height: 24px;
padding: 16px 45%;
    }
    .footer-block-title {
        margin-top: 81px;
    }
    .footer-block {
        top: 219px;
    }
    .footer-block-form input {
        font-size: 15px;
line-height: 150%;
    }
    .with-ukraine-caricatures {
        top: 26%;

    }
    .with-ukraine-block-info {
        right: 52%;
        top: 43%;
    }
    .progect-list {
        bottom: -58%;
    }
    .progect {
        margin-bottom: 102%;
    }
    .creations-text {
 
        max-width: 289px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 580px){
    .footer-bottom {
        bottom: -47%;
        padding-bottom: 30px;
    }
    
    .progect {
        margin-bottom: 106%;
    }
}
@media screen and (max-width: 590px){
    .creations {
        padding-top: 410px;
    }
    .progect-title, .creations-title p {
        font-weight: 400;
font-size: 40px;
line-height: 50px;
    }
    .progect-text,.creations-text p{
        font-size: 16px;
line-height: 22px;
max-width: 289px;
    }
    .spiky-title {
        font-size: 40px;
        line-height: 50px;
    }
    .spiky-text{
        font-size: 16px;
line-height: 22px;
max-width: 289px;

    }
    
    .progect-block-title {
        bottom: 162px;
    }
    .progect {
        margin-top: -27rem;
    }
    .progect-item-title p {
        font-size: 20px;
        line-height: 150%;
        padding: 21px 16px 7px 22px;
    }
    .progect-item-text p {
        font-size: 16px;
        line-height: 150%;
        padding: 0px 20px 29px 22px;
    }
}
@media screen and (max-width: 560px){
    .footer-bottom {
        bottom: -52%;
        padding-bottom: 30px;
    }
    .progect {
        margin-bottom: 119%;
    }
    .progect-list {
        bottom: -64%;
    }
    .progect-list {
        bottom: -64%;
    }
    .progect-image-top.botton {
        bottom: -67%;
    }
    .progect-image-stone.tablet {
        display: block;
        bottom: -73%;
    }
}
@media screen and (max-width: 540px){
    .footer-bottom {
        bottom: -58%;
        padding-bottom: 30px;
    }
    .with-ukraine-texture540{
        display: block;
        
    }
    .progect-image-stone.tablet {
        display: block;
        bottom: -75%;
    }
    .progect {
        margin-bottom: 127%;
    }
}
@media screen and (max-width: 540px){
    .progect-image-top.botton {
        bottom: -8%;
    z-index: 2;
    }
    .progect-image-top.botton2 {
        bottom: -24%;
    z-index: 3;
    }
    .progect-image-top.botton3 {
        bottom: -40%;
    z-index: 3;
    }
    .progect-image-top.botton4 {
        bottom: -56%;
        z-index: 5;
    }
    .progect-image-top.botton5 {
        width: 100%;
        position: absolute;
        display: block;
        bottom: -28%;
        z-index: 2;
    }
    .progect-image-top.botton6 {
        bottom: -70%;
    z-index: 6;
    }
    /* .progect-image-top.botton2 {
        display: block;
        bottom: -44%;
        z-index: 2;
    }
    .progect-image-top.botton3 {
        width: 100%;
        position: absolute;
        display: block;
        bottom: -17%;
    } */
    
}
@media screen and (max-width: 520px){
    .footer-bottom {
        bottom: -65%;
        padding-bottom: 30px;
    }
    .progect {
        margin-bottom: 132%;
    }
    .block-festival-block2-item1 {
        top: 69%;
        left: 25%;
        z-index: 2;
        transform: rotate(2deg);
    }
}
@media screen and (max-width: 500px){
    .popup-content iframe {
        width: 100%;
        height: 13rem;
    }
    .footer-bottom {
        bottom: -76%;
        padding-bottom: 30px;
    }
    .creations-list {
        margin: 0 2px;
    }
    .progect {
        margin-bottom: 138%;
    }
    .process-item-title{
        font-size: 24px;
line-height: 29px;
    }
    .process-item-text{
        font-size: 14px;
line-height: 20px;
    }
    .process-block-list .item2 {
        margin-top: 61px;
    }
    .process-block-list .item3 {
        margin-top: 92px;
    }
    .process-block-list .item4 {
        margin-top: 70px;
    }
    .process-block-list .item5 {
        margin-top: 62px;
    }
    .process {
        height: 160rem;
    }
    .process-title {
        margin-top: 50px;
        font-size: 40px;
        line-height: 50px;
    }
    .process-text {
        font-size: 16px;
        line-height: 22px;
    }
    .process-block-list {
        
        margin: 55px auto 0 auto;
    }
    .item1 .process-item-image img{
        width: 126px;
        height: 182px;
    }
    .item1 .process-item-image{
        text-align: center;
    }
    .item2 .process-item-image img{
        width: 164px;
        height: 147px;
    }
    .item2 .process-item-image{
        text-align: center;
        margin-right: 12px;
    }
    .item3 .process-item-image img{
        width: 150px;
        height: 170px;
    }
    .item3 .process-item-image{
        text-align: center;
        margin-right: 18px;
    }
    .item4 .process-item-image img{
        width: 148px;
        height: 165px;
    }
    .item4 .process-item-image{
        text-align: center;
        margin-right: 8px;
    }
    .item5 .process-item-image img{
        width: 239px;
        height: 174px;
    }
    .item5 .process-item-image{
        text-align: center;
        margin-left: 9px;
    }

    .process-block-list .process-list-item {
       
        max-height: 392px;
        
    }
    .site-logo {
        margin-top: 22px;
        margin-right: 5px;
        
    }
    
    .contact-us {
        margin: 17px 30px 0 0;
    }
    .services-item {
        /* margin-bottom: 20px;
        margin-left: 0;
        max-width: 708px; */
        height: 443px;
    }
    .services-item-image {
        /* max-width: 708px; */
        height: 220px;
    }
    .services-item-block {
        height: 220px;
    }
    .services-title h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .services-text p {
        font-size: 16px;
        line-height: 22px;
    }
    .services-title {
        
        margin-top: 25px;
        margin-bottom: 0px;
        
    }
    .services-text {
        
        margin: 0 auto 30px auto;
    }
}
@media screen and (max-width: 480px){
    .footer-bottom {
        bottom: -78%;
        padding-bottom: 30px;
    }
    .with-ukraine-block-title {
        top: 220px;
    }
    .with-ukraine-map {
        position: absolute;
        top: 330px;
    }
    .with-ukraine-caricatures {
        top: 25%;
    }
    .with-ukraine-block-info {
        right: 52%;
        top: 40%;
    }
    .progect {
        margin-bottom: 144%;
    }
}
@media screen and (max-width: 460px){
    .footer-bottom {
        bottom: -88%;
        padding-bottom: 30px;
    }
}
@media screen and (max-width: 450px){
    .footer-bottom {
        bottom: -92%;
        padding-bottom: 30px;
    }
    .progect {
        margin-bottom: 154%;
    }
    .with-ukraine-texture450{
        display: block;
      
    }
}
@media screen and (max-width: 440px){
    .popup-content iframe {
        width: 100%;
        height: 11rem;
    }
    .block-festival-block2-item1 {
        top: 66%;
        left: 22%;
        z-index: 2;
        transform: rotate(2deg);
    }
    .footer-bottom {
        bottom: -100%;
        padding-bottom: 30px;
    }
    .creations {
        padding-top: 370px;
    }
    .progect-list {
        bottom: -69%;
    }
    .progect {
        margin-top: -31rem;
        margin-bottom: 157%;

    }
    .spiky-list-info {
      
        max-height: 105px;
        
    }
}
@media screen and (max-width: 420px){
    .footer-bottom {
        bottom: -110%;
        padding-bottom: 30px;
    }
    .with-ukraine-caricatures {
        top: 24%;
    }
    .with-ukraine-block-info {
        right: 52%;
        top: 37%;
    }
}
@media screen and (max-width: 400px){
    .footer-bottom {
        bottom: -125%;
        
    }
    .block-festival-item1 {
        margin: 0 50%;
    }
    .festival-item2 {
        top: 96%;
        left: 50%;
    }
    .spiky-block-list {
        margin: 0 15px;
    
        width: calc(100% - 30px);
    }
    .progect {
        margin-bottom: 181%;
    }
    .progect-image-top.botton6 {
        bottom: -72%;
        z-index: 6;
    }
    .progect-image-stone.tablet {
        display: block;
        bottom: -78%;
    }
    .progect-list {
        bottom: -72%;
    }
    .site-logo {
        margin-left: 15px;
        width: 146px;
        height: 39px;
    }
    .site-logo-title{
        font-size: 20.0807px;
        line-height: 24px;
    }
    .site-logo-text{
        font-size: 13px;
        line-height: 15.85px;
    }
    .contact-us {
        margin: 17px 15px 0 0;
        width: 110px;
        height: 46px;
    }
    .contact-us p {
        font-size: 14px;
        line-height: 17px;
        padding: 14.5px 14.5px 14.5px 13.5px;
        border: 2px solid #FFFFFF;
        border-radius: 8px;
    }
    .block-ukraine {

        margin-top: 15px;

    }
    .services-item {
        height: 428px;
        margin-bottom: 15px;
    }
    .services-item-image {
        /* max-width: 708px; */
        height: 196px;
    }
    .services-item-block {
        height: 232px;
    }
    .services-item-block-title {
        font-size: 18px;
        line-height: 22px;
        
        padding: 12px 16px 8px 20px;
    }
    .services-item-block-description {
        font-size: 14px;
        line-height: 22px;
        padding: 0px 20px 0px 20px;
        color: #FFFFFF;
        margin-bottom: 14px;
    }
    .services-title, .services-text, .services-list {
        padding: 0 15px;
    }
    .services-list{
        padding-bottom: 15px;
    }
    .inactive .services-item-block {
        height: 52px;
    }
    .services-item.inactive {
        width: 100%;
        height: 52px;
        min-height: 52px;
    }
    .inactive .services-item-block-title {
        color: #000000;
        padding: 15px 4px 15px 20px;
        font-size: 18px;
        line-height: 22px;
    }
    .process-block-button {
        
        margin-top: -200px;
    }
    .process {
        margin-top: 200px;
        
    }
    .process-text {
        
        padding: 0 10px;
    }
    .process-block-button a {
        font-size: 16px;
        line-height: 20px;
        padding: 15px 45px 17px 45px;
        
    }
}
@media screen and (max-width: 390px){
    .with-ukraine-texture390{
        display: block;
        
    }
    .block-festival-block2-item1 {
        top: 66%;
        left: 14%;
        z-index: 2;
        transform: rotate(2deg);
    }
}
@media screen and (max-width: 380px){
    .footer-block-form button {
        
        padding: 16px 41%;
    }
    .footer-bottom {
        bottom: -139%;
    }
    
    .progect {
        margin-bottom: 203%;
    }
    .progect-list {
        bottom: -78%;
    }
    .progect-block-title {
        bottom: 152px;
    }
    .progect-image-stone.tablet {
        display: block;
        bottom: -83%;
    }
    .progect-image-top.botton6 {
        bottom: -78%;
        z-index: 6;
    }
    .progect-image-top.botton4 {
        bottom: -61%;
        z-index: 5;
    }
    .progect-image-top.botton3 {
        bottom: -43%;
        z-index: 3;
    }
}

@media screen and (max-width: 364px){
    
    .with-ukraine-block-info {
        right: 53%;
       
    }
}
@media screen and (max-width: 350px){
    
    .with-ukraine-block-info {
        right: 55%;
       
    }
    .with-ukraine-texture350{
        display: block;
       
    }
}
@media screen and (max-width: 340px){
    
    .block-festival-block2-item1 {
        top: 66%;
        left: 8%;
        z-index: 2;
        transform: rotate(2deg);
    }
    .with-ukraine-block-info {
        right: 105%;
        left: 3%;
    }
    .festival-item2 {
        top: 96%;
        left: 53%;
    }
    
}
@media screen and (max-width: 360px){
    .popup-content iframe {
        width: 100%;
        height: 9rem;
    }
    .footer-bottom {
        bottom: -154%;
    }
    
    .spiky-list-info {
      
        max-height: 125px;
        height: 125px;
        
    }
    .progect {
        margin-bottom: 215%;
    
    }
}
@media screen and (max-width: 350px){
    .progect {
        margin-bottom: 222%;
    
    }
}
@media screen and (max-width: 340px){
    .progect {
        margin-bottom: 228%;
    
    }
   
    
        
        .footer-bottom {
            bottom: -169%;
        }
    
}
@media screen and (max-width: 330px){
    .progect-block-title {
        bottom: 146px;
    }
    .progect {
        margin-top: -35rem;
    }
}
@media screen and (max-width: 320px){
    .popup-content iframe {
        width: 100%;
        height: 8rem;
    }
    .footer-fon-tablet{
        display: none;
    }
    .footer-fon-mobile{
        display: block;
    }
    .footer-block {
        
        padding: 0 15px;
    }
    .footer-block-contacts-button p {
        
        padding: 16px 24px;
    }
    .footer {
      
        margin-top: -717px;
    }
    .footer-block-contacts-title {
        
        text-align: left;
    }
    .footer-bottom {
        bottom: -290px;
    }
    .creations-block-button a{
        font-size: 16px;
        line-height: 20px;
        padding: 15px 95px 17px 99px;
    }
    .creations-block-button {
        margin-top: 34px;
      
    }
    .with-ukraine-texture-mobile{
        display: block;
        max-width: 100%;
        margin-top: 17%;
    }
    .with-ukraine-texture.tablet{
        display: none;
    }
    .with-ukraine-texture640,
    .with-ukraine-texture540,
    .with-ukraine-texture450,
    .with-ukraine-texture390,
    .with-ukraine-texture350
    {
        display: none;
    }
    .with-ukraine-block-info {
        
        top: 495px;
    }
    .with-ukraine-caricatures {
        top: 13%;
    }
    .with-ukraine-map {
        position: absolute;
        top: 148px;
    }
    .with-ukraine-block-title {
        top: 36px;
    }
    .block-festival-block2-item1 {
        top: 1095px;
   
    left: 20px;
        z-index: 2;
        transform: rotate(2deg);
    }
    .block-festival-block3-item1 {
        transform: rotate(-3deg);
        position: absolute;
        top: 116%;
        left: 0;
    }
    .festival-item1 {
        transform: rotate(3deg);
    }
    .festival-item2 {
        
        transform: rotate(-2deg);
    }
    .creations {
        padding-top: 0px;
    }
    .creations-text {
        font-size: 16px;
line-height: 22px;
        margin-bottom: 15px;
    }
    .creations-title p {
        font-size: 40px;
line-height: 50px;
    }
    .creations-list-item {
        
        margin-bottom: 2px;
        /* width: 49.6%; */
    }
   
    .play {
        position: absolute;
        top: calc(50% - 60px);
        left: calc(50% - 40px);
    }
    .spiky {

        padding-top: 150px;
    }
    .spiky-image-center img {
        max-width: 100%;
        padding: 0 0 0 20px;
    }
    .spiky-image-center {
        position: absolute;
        top: 184px;
        width: 100%;
    }
    .kid-mobile{
        display: block;
    }
    .kid-tablet{
        display: none;
    }
    .spiky-image-top.mobile{
        display: block;
    }
    .spiky-image-top.tablet{
        display: none;
    }
    .spiky-block-list {

        top: 43%;

    }
    .spiky-list-video {

        padding-top: 10px;

    }
    .spiky-list-info {
        max-height: 110px;
        height: 110px;
    }
    .spiky-list-video {
        height: 100%;
        max-width: calc(100% - 20px);
    }
    .spiky-list-info {
        padding: 10px 10px 10px 10px;
    }
    .progect {
        margin-bottom: 485%;
    
    }
    .section-top-video .images-tablet{
        display: none;
    }
    .images-mobile{
        display: block;
    }
    
    .progect-image-top.botton,
    .progect-image-top.botton1,
    .progect-image-top.botton2,
    .progect-image-top.botton3,
    .progect-image-top.botton4,
    .progect-image-top.botton5,
    .progect-image-top.botton6{
        display: none;
    }
    .progect-image-top.mobile{
        display: block;

    position: absolute;
    top: 71%;
    }
    .progect-list {
        bottom: -147%;
    }
    .progect-image-panda{
        display: none;
    }
    .progect-image-panda.mobile{
        display: block;
    }
    .progect-block-title {
        /* bottom: 4px; */
        bottom: 58px;
    }
    .progect-image-wood-desc{
        display: none;
    }
    .progect-image-wood-mobile{
        display: block;
    }
    .pogect-image-wood {
        position: absolute;
         
    }
    .progect-image-grass-bottom{
        display: none;
    }
    .footer-block-form textarea{
        font-size: 15px;
line-height: 150%;
    }
    .progect-image-grass-bottom-mobile{
        display: block;
    }
    .progect-image-grass {
        top: 174%;
    }
    .progect-list {
        bottom: -1465px;
    }
    .progect-image-stone.tablet{
        display: none;
    }
    .progect-image-stone.mobile{
        display: block;
    }
    .progect-image-stone.mobile {
        display: block;
        position: absolute;
        bottom: -166%;
    }
    .progect {
        margin-top: -28rem;
    }
}}